* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}

.App{
  background-color: #F0F0F0;
  height: 100vh;
}
/* Header */
header {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

header > div {
  width: 100%;
  max-width: 1440px;
}

header > div > img {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
}

.Funcionarios{
  max-width: 1440px;

  margin: 0 auto;
}

.body-funcionarios{
  margin-left: 14px;
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 14px;
}

.h1-funcionarios{
  color: #1C1C1C;
}

.barraPesquisa{
  display: flex;
  justify-content: center;

  margin-top: 20px;

  position: relative;
}

.barraPesquisa > input {
  width: 100%;
  padding: 12px 40px 12px 16px;

  border-radius: 8px;

  border: 1px solid #DFDFDF;

  max-width: 768px;
}

.svg-pesquisa{
  fill: #DFDFDF;
  height: 24px;
  width: 24px;

  position: absolute;
  right: 12px;
  top: 12px;
}

@media (min-width: 768px) {
  .body-funcionarios{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }

  .barraPesquisa > input {
    width: 290px;
  }

  .barraPesquisa {
    margin-top: 0px;

  }
}